<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container-fluid px-3 px-lg-5">
        <a class="navbar-brand d-lg-none accent-color" href="#">AK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" [class.underlined]="isActive('about')" (click)="scrollToSection('about')">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.underlined]="isActive('experience')" (click)="scrollToSection('experience')">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.underlined]="isActive('tech-stack')" (click)="scrollToSection('tech-stack')">Tech</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.underlined]="isActive('education')" (click)="scrollToSection('education')">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.underlined]="isActive('projects')" (click)="scrollToSection('projects')">Projects</a>
                </li>
            </ul>
            <div class="mail-link fw-bold">
                <a href="mailto:krstevska.angela23@gmail.com" class="nav-link text-white">
                    <i class="bi bi-envelope-fill accent-color"></i> <span class="p-2 email-text">krstevska.angela23&#64;gmail.com</span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container mt-5 pt-5">
  <app-about>about></app-about>

  <app-experience>experience></app-experience>
  <app-tech-stack>tech-stack</app-tech-stack>
  <app-education></app-education>
  <app-projects>projects></app-projects>


</div>
<footer class="accent-background p-3 text-center text-muted fw-light">
<p class="m-0">&copy; {{ currentYear }} Angela Krstevska. All rights reserved.</p>
</footer>
