h1{
  text-transform: uppercase;
}
#contact-btn{
  font-family: 'Outfit', sans-serif!important;

}
#links-container{
  height: 106px;
  background: #1B1B1B;
  border-radius: 16px;
  font-size: 60px;
}
#links-container a{
  color: #FAFAFA;
}
.profile-img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center 40%;
}

@media (max-width: 767px) {
  .profile-img {
    max-width: 250px;
  }
}


