<section id="tech-stack" class="py-5">
  <h2 class="color-light font-outfit mb-4 animated-heading">Tech Stack</h2>

  <div class="tech-container">
    <div class="tech-category">
      <h3 class="category-title font-outfit">Backend</h3>
      <div class="tech-grid">
        <div class="tech-card" *ngFor="let tech of userDetails.backendTech">
          <div class="tech-icon">
            <img [src]="tech.icon" [alt]="tech.name">
          </div>
          <span class="tech-name">{{tech.name}}</span>
        </div>
      </div>
    </div>
    <div class="tech-category">
      <h3 class="category-title font-outfit">Frontend</h3>
      <div class="tech-grid">
        <div class="tech-card" *ngFor="let tech of userDetails.frontendTech">
          <div class="tech-icon">
            <img [src]="tech.icon" [alt]="tech.name">
          </div>
          <span class="tech-name">{{tech.name}}</span>
        </div>
      </div>
    </div>

    <div class="tech-category">
      <h3 class="category-title font-outfit">AI & Data Science</h3>
      <div class="tech-grid">
        <div class="tech-card" *ngFor="let tech of userDetails.aiDataScienceTech">
          <div class="tech-icon">
            <img [src]="tech.icon" [alt]="tech.name">
          </div>
          <span class="tech-name">{{tech.name}}</span>
        </div>
      </div>
    </div>

    <div class="tech-category">
      <h3 class="category-title font-outfit">Tools & DevOps</h3>
      <div class="tech-grid">
        <div class="tech-card" *ngFor="let tech of userDetails.toolsTech">
          <div class="tech-icon">
            <img [src]="tech.icon" [alt]="tech.name">
          </div>
          <span class="tech-name">{{tech.name}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
